$icon-font-path: '../fonts/';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$navColor: #3A1675;

.bg-inverse {
  background-color: $navColor;
}

.jumbotron {
  text-align: center;
}

#content {
  height: 50vh;
}
